<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jookershop.crazysticker"
    android:versionCode="22"
    android:versionName="1.5.5" >

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"></uses-permission>
    
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="21" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name" 
        android:theme="@style/AppTheme" 
        >

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="APPMA_ID"
            android:value="2015032008G0igPu3krs" />
        <meta-data
            android:name="APPMA_PACKAGE"
            android:value="com.jookershop.crazysticker" />
<!--         <meta-data
            android:name="BDAPPUNIONSDK_APIKEY"
            android:value="beefc8254dc3d1ee51cb5e2172e1e792" /> -->
                
        <activity
            android:name=".MainActivity"
            android:theme="@style/MyNavigationDrawerTheme"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.jookershop.crazysticker.MyReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </receiver>

        <activity
            android:screenOrientation="portrait"
            android:name="com.jookershop.crazysticker.ClickADActivity" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.jookershop.crazysticker.lucky.ClickADActivity" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.jookershop.crazysticker.DailyTaskActivity" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.jookershop.crazysticker.BidActivity" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.jookershop.crazysticker.fnum.FnActivity" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.jookershop.crazysticker.big.BigActivity" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.jookershop.crazysticker.glucky.GluckyActivity" >
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name="com.jookershop.crazysticker.happytime.HappytimeActivity" >
        </activity>

        <!--vpon-->
        <activity
            android:name="com.vpadn.widget.VpadnActivity"
            android:configChanges="orientation|keyboardHidden|navigation|keyboard|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"
            android:theme="@android:style/Theme.Translucent" >
        </activity>


        <!--有米        -->
        <activity
            android:name="net.slidingmenu.tools.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>
        <service
            android:name="net.slidingmenu.tools.AdService"
            android:exported="false" >
        </service>
        <service
            android:name="net.slidingmenu.tools.ExpService"
            android:exported="false" >
        </service>
        <receiver
            android:name="net.slidingmenu.tools.AdReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>


        <!--多盟-->
        <!--<activity-->
            <!--android:name="cn.domob.android.ads.DmActivity"-->
            <!--android:theme="@android:style/Theme.Translucent" >-->
        <!--</activity>-->

        <!--HODo-->
        <activity
            android:name="com.hodo.ADActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name="com.hodo.hodowebview.HodoWebActivity"
            android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity
            android:name="com.hodo.SplashaActivity"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.hodo.SVideoActivity"
            android:configChanges="orientation"
            android:theme="@android:style/Theme.Translucent" />
        <activity
            android:name="com.hodo.InterVideoPlayer"
            android:configChanges="orientation" />
        <activity
            android:name="com.hodo.InterActivity" />

        <!--凡瑪-->
        <activity
            android:name="com.appma.ad.WebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" >
        </activity>

        <!--趣米-->
         <activity
          android:name="com.newqm.sdkoffer.QuMiActivity"
            android:configChanges="keyboardHidden|orientation" />

        <!--<activity-->
            <!--android:name="com.qmzdy.QmAdWall"-->
            <!--android:configChanges="keyboardHidden|orientation" />-->

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <provider android:authorities="com.facebook.app.FacebookContentProvider452744348218927"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true" />

        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />


        <activity android:name="com.example.mobile159_sdk_v2.FullScreenAD_Activity" android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>


        <activity android:name="com.vm5.advideo.activity.AdActivity" />
        <activity
            android:name="com.vm5.adplay.AdplayActivity"
            android:configChanges= "keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:hardwareAccelerated="true">
        </activity>

        <!--adplay-->
        <activity
            android:name="net.adways.appdriver.sdk.ADARewardActivity"
            android:screenOrientation="portrait">
        </activity>

        <!--adlocus-->
        <!--//Interstitial-->
        <!--<activity-->
            <!--android:name="com.adlocus.VideoAdActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"-->
            <!--android:hardwareAccelerated="true"-->
            <!-->-->
        <!--</activity>-->
    </application>

</manifest>
